*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-bg: aliceblue;
}
header{
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--header-bg);
}
img{
    height: 8rem;
}
ul{
    display: flex;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    gap: 2rem;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.log{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}