@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&family=Quantico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quantico", sans-serif;
    color: var(--text-color);
    font-size: 115%;
}

:root {
    --header-bg: #E94B3C;
    --page-bg: #FFF9F4;
    --text-color: #2C2C2C;
    --buton-bg: #BFB1A8;
}

.body {
    background-color: var(--page-bg);
}

header {
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--header-bg);
}

header>img {
    height: 100%;
    padding: 0.5rem;
}

header>ul {
    display: flex;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    gap: 2rem;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.log {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

header button {
    background-color: var(--buton-bg);
    border-radius: 2rem !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: .5rem 1rem;
    border: none;
}

.carousel-item> img {
    filter: brightness(0.4);
}
.carousel-item p{
    font-size: 60%;
    color: white;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    scale: 150%;
}
#logo{
    width: 30rem;
}
.custom-caption{
    text-align: left;
    position: absolute;
    left: 5rem;
    top:25%;
    width: 30%;
    height: 50%;
    
}
.custom-caption p{
    text-overflow: ellipsis;
}