*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-bg: aliceblue;
}
header{
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--header-bg);
}
ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;
}
.log{
    display: flex;
    gap: 2rem;
}